!!!
/[if lt IE 7 ] <html class="lt-ie9 lt-ie8 lt-ie7 ie6" lang="en">
/[if IE 7 ] <html class="lt-ie9 lt-ie8 ie7" lang="en">
/[if IE 8 ] <html class="lt-ie9 ie8" lang="en">
/[if IE 9 ] <html class="ie9" lang="en">
/ [if (gt IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/css/normalize.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/css/skeleton.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/css/typography.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/css/layout.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/css/form.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/css/shortcodes.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/css/elements.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/css/ie.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/icons/glyphicons/style.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/icons/zocial/zocial.css", :rel => "stylesheet"}/
    %link{:href => "/assets/assets/icons/social/social.css", :rel => "stylesheet"}/
    %link{:href => "/assets/plugins/layerslider/css/layerslider.css", :rel => "stylesheet"}/
    %link{:href => "/assets/plugins/flexslider/flexslider.css", :rel => "stylesheet"}/
    %link{:href => "/assets/plugins/magnificpopup/jquery.magnific-popup.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %title
      - unless yield(:title).to_s.empty?
        = yield (:title)
        |
      = t(:company_name).titleize
      |
      = t(:tagline).titleize
  %body
    .main-wrap
      %header.header
        .container
          .sixteen.columns
            .header-row
              .header-col.brand
                %a.logo{:href => "#"}
                  %img{:alt => "Calendarium", :src => "/assets/assets/img/brand-logo.png"}/
                %span.tagline= t(:tagline).titleize
              %nav.header-col.navigation
                %ul
                  %li{ class: "#{'active' if params[:action] == 'index'} " }
                    = link_to 'Home', root_path
                  %li{ class: "#{'active' if params[:action] == 'benefits'} " }
                    = link_to 'Benefits', benefits_path
                  %li{ class: "#{'active' if params[:action] == 'features'} " }
                    = link_to 'Features', features_path
                  %li{ class: "#{'active' if params[:action] == 'pricing'} " }
                    = link_to 'Pricing', pricing_path
                  %li{ class: "#{'active' if params[:action] == ''} " }
                    = link_to 'Log In', root_path
                  %li{ class: "#{'active' if params[:action] == ''} " }
                    = link_to 'Sign Up', root_path
      = yield
      %footer.footer
        -#.footer-top
          .container
            .one-third.column
              .footer-logo
                %img{:alt => "Calendarium", :src => "/assets/assets/img/footer-logo.png", :style => "width: 170px;"}/
              %p Something abot Calendarium 
            / Flickr
            .one-third.column
              %h4 Our Flickr Stream
              .flickr-stream{"data-flickr-id" => "88444813@N08", "data-limit" => "8"}
            / Tweets
            .one-third.column
              %h4 Latest Tweets
              .tweets{"data-count" => "2", "data-twitter-username" => "envato"}
        / Footer Bottom
        .footer-bottom
          .container
            .eight.columns
              Copyright 2013 - #{Date.today.strftime('%Y')}.
              = succeed "." do
                = link_to 'Calendarium', root_path
            .eight.columns
              %ul.footer-nav
                %li
                  = link_to 'Home', root_path
                %li
                  = link_to 'Benefits', benefits_path
                %li
                  = link_to 'Features', features_path
                %li
                  = link_to 'Pricing', pricing_path
                %li
                  = link_to 'Log In', root_path
                %li
                  = link_to 'Sign Up', root_path

      / End Foooter
    / jQuery
    %script{:src => "/assets/assets/js/jquery-1.10.2.min.js"}
    / Third Party Plugins
    %script{:src => "/assets/plugins/jflickrfeed/jflickrfeed.min.js"}
    %script{:src => "/assets/plugins/tweet/jquery.tweet.min.js"}
    %script{:src => "/assets/plugins/fitvids/jquery.fitvids.min.js"}
    %script{:src => "/assets/plugins/map/gmap3.min.js"}
    %script{:src => "/assets/plugins/isotope/jquery.isotope.min.js"}
    %script{:src => "/assets/plugins/caroufredsel/jquery.carouFredSel-6.2.1-packed.js"}
    %script{:src => "/assets/plugins/flexslider/jquery.flexslider-min.js"}
    %script{:src => "/assets/assets/js/jquery.timeline.min.js"}
    %script{:src => "/assets/plugins/magnificpopup/jquery.magnific-popup.min.js"}
    / LayerSlider Parallax 3D Slider
    %script{:src => "/assets/plugins/layerslider/js/jquery-easing-1.3.js"}
    %script{:src => "/assets/plugins/layerslider/js/jquerytransit.js"}
    %script{:src => "/assets/plugins/layerslider/js/layerslider.transitions.js"}
    %script{:src => "/assets/plugins/layerslider/js/layerslider.kreaturamedia.jquery.min.js"}
    / Themer Assets
    -#
      %script{:src => "/assets/themer/less-1.3.3.min.js"}
      %script{:src => "/assets/themer/minicolors/jquery.minicolors.js"}
      %script{:src => "/assets/themer/youxi.themer.min.js"}
      %link{:href => "/assets/themer/minicolors/jquery.minicolors.css", :rel => "stylesheet"}/
      %link{:href => "/assets/themer/youxi.themer.css", :rel => "stylesheet"}/
    / Template Script
    %script{:src => "/assets/assets/js/youxi.plugins.min.js"}
    %script{:src => "/assets/assets/js/youxi.setup.js"}
